ORGANIZATION_ID=5cda50fa-523f-4bb5-85b6-66d7241b23cd
OMS_ID=d953894c-250a-4408-a2ef-bb26170c59b5
WAREHOUSE_ID=59739360-7d62-434b-ad13-4617c87a6d13
PRODUCT_GROUP=wheelChairs
RELEASE_METHOD_TYPE=production
CIS_TYPE=unit
FILLING_METHOD=productsCatalog
BASE_URL=https://mk.kontur.ru
THUMBPRINT=
HISTORY_SYNC_ENABLED=1
HISTORY_SYNC_BRANCH=orders-history
KONTUR_UI_DEBUG=0
WMS_API_BASE_URL=https://wms.grund-lage.ru/api
CHZ_BRIDGE_TOKEN=change-me
CHZ_BRIDGE_ENABLED=1
CHZ_BRIDGE_HOST=0.0.0.0
CHZ_BRIDGE_PORT=8791
